.app__gallery{
    display: flex;
    flex-direction: row;
    background-color: var(--color-black);
    padding: 4rem 0 4rem 6rem;
}

.app__gallery-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex:1;
    min-width:500px;
    padding-right:2rem;
    justify-content: center;
}

.app__gallery_image{
    position:relative;
    max-width: 50%;
    display: flex;
    flex-direction: row;
    flex:1;
}

.app__gallery_image_container{
    display: flex;
    flex-direction: row;
    flex:1;
    width:max-content;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.app__gallery_image_container::-webkit-scrollbar{
    display: none;
}

.app__gallery_image_card{
    margin-right:1rem;
    min-width:307px;
    height:447px;
    position: relative;
}
.gallery_image-icon{
    position:absolute;
    /* opacity:0; */
    transition: .5s ease;
    opacity: 0.5;
    color:#fff;
    font-size:2rem;
    cursor:pointer;
}

.app__gallery_image_card img{
    height:100%;
    width:100%;
    opacity:1;
    transition: 0.5 ease;
    object-fit:cover;
    
}

.app__gallery_image_card:hover img{
    opacity: 0.35;
}

.app__gallery_image_card:hover .gallery_image-icon{
    opacity:1;
}

.app__gallery-image-arrow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    padding:0 1rem;
    border-radius:5px;
    font-size:2rem;
    bottom:5%;
    width:100%;
}

.gallery__arrow{
    color:var(--color-golden);
    background-color: var(--color-black);
}

.gallery__arrow:hover{
    color:var(--color-white)
}


@media screen and (min-width:2000px) {

    
}

@media screen and (max-width:1150px) {
    .app__gallery{
        flex-direction:column;
    }
    .app__gallery_image{
        min-width: 100%;
        margin:5rem 0;
    }

}

@media screen and (max-width:650px) {
    .app__gallery{
        padding: 4rem 0 4rem 2rem;
    }
    .app__gallery-content{
        min-width:100%;
    }

    .app__gallery_image_card{
        min-width:250px;
        height:320px;
    }
}